body{
	font-family: Arial;
}
.menu{	
	height: 70px;
	padding: 10px 60px;
}
.alium{
	width: 20%;
	height: auto;
	float: left;
}
.alium>p{
	font-size: 35px;
	margin:0px;
	width: 20%;
	line-height: 70px;
	font-family: Time News Roman;
}
.menu>ul{
	list-style: none;
	float: right;
	line-height: 40px;
	padding-left: 0px;
}
.menu>ul>li{
	float: left;
}
.menu>ul>li>a{
	text-decoration: none;
	color: black;
	padding: 0px 30px;
}
.menu>ul>li>a:hover{
	color: red !important;
}
#contener{
	width: 960px;
}
.carousel-item{
	width: 1700px;
	height: 250px;
}
