#container .tab{
 float:left;
 padding: 18px;
 margin: 2px;
 background: #ccc;
}
#container{
	position: relative;
}
#container .content{
	position: absolute;
	z-index: 0;
	top: 50px;
	left: 0px;
	width: 50%;
	height: 100px;
	background: gray;
}
#container .active > .tab{
	background: orange;
}
#container .active{
	z-index: 1;
}
.active > .content{
	z-index: 2 !important;
}